{% extends 'admin/base.html' %}
{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
{% load static %}
{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin.css' %}">
    <script src="{% static 'admin.js' %}"></script>

{% endblock %}
{% block title %}Speaky Bot{% endblock %}
{% block header %}
    <div id="header">
        <div id="branding">
            {% block branding %}<b><i>Speaky Bot</i></b>{% endblock %}
        </div>
        {% block usertools %}
            {% if has_permission %}
                <div id="user-tools">
                    {% block welcome-msg %}
                        {% translate 'Welcome,' %}
                        <strong>{% firstof user.get_short_name user.get_username %}</strong>.
                    {% endblock %}
                    {% block userlinks %}
                        {% if user.is_active and user.is_staff %}
                            {% url 'django-admindocs-docroot' as docsroot %}
                            {% if docsroot %}
                                <a href="{{ docsroot }}">{% translate 'Documentation' %}</a> /
                            {% endif %}
                        {% endif %}
                        {% if user.has_usable_password %}
                            <a href="{% url 'admin:password_change' %}">{% translate 'Change password' %}</a> /
                        {% endif %}
                        <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
                            {% csrf_token %}
                            <button type="submit">{% translate 'Log out' %}</button>
                        </form>
                        {% include "admin/color_theme_toggle.html" %}
                    {% endblock %}
                </div>
            {% endif %}
        {% endblock %}
        {% block nav-global %}{% endblock %}
    </div>
    <div id="modal-refund" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Подтверждение возврата <span class="close">&times;</span></h2>
            </div>
            <form id="refund-form" method="POST" action="{% url 'payments:refund_create' %}">
                {% csrf_token %}
                <input type="hidden" name="payment_id" value="">
                <div class="modal-body">
                    <p>Оформить возврат денежных средств?</p>
                    <p>Подписка пользователя будет аннулирована, ДС будут списаны с вашего счета YooKassa.</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="custom-button">Вернуть ДС</button>
                    <button type="button" class="close custom-button">Отмена</button>
                </div>
            </form>
        </div>
    </div>

    <div id="modal-send-message" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Отправить сообщение <span class="close">&times;</span></h2>
            </div>
            <form id="send-message-form" method="POST" action="{% url 'users:send_message' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_with_link">С ссылкой на оплату?</label>
                    <select name="with_link" id="id_with_link">
                        <option value="False" selected>Без ссылки</option>
                        <option value="True">C ссылкой</option>
                    </select>
                </div>
                <div id="hidden-area-id" class="form-group d-none">
                    <label for="product_id">Продукт, к которому нужна ссылка</label>
                    <select name="product_id" id="product_id">
                        {% for product in products %}
                            <option value="{{ product.id }}">{{ product.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="message_text_id">Текст сообщения</label>
                    <textarea class="text-input-lg" name="message_text" id="message_text_id" placeholder="..."></textarea>
                </div>
            <input type="hidden" name="user_id" value="">
                <div class="modal-footer">
                    <button type="submit" class="custom-button">Отправить</button>
                    <button type="button" class="close custom-button">Отмена</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

